[build]
builder = "nixpacks"
buildCommand = "npm install --no-audit --no-fund && npm run build"

[deploy]
startCommand = "serve -s build -l $PORT"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
